{% extends "base.html" %}
{% block title %}Account Settings{% endblock %}
{% block content %}
    <div class="container">
        <h1>Account Settings</h1>
        <form action="/api-user" method="post">
            <label for="update-username">Username</label>
            <input type="text" id="update-username" name="username">
            
            <label for="update-password">Password</label>
            <input type="password" id="update-password" name="password">
            
            <label for="update-email">Email</label>
            <input type="email" id="update-email" name="email">
            
            <label for="update-avatar">Avatar URL</label>
            <input type="text" id="update-avatar" name="avatar">
            
            <button type="submit">Update</button>
        </form>
    <div>
{% endblock %}
