<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Edit Blog</h1>
    <form action="/api/blogs/{{ blog_id }}/edit" method="post">
        <label for="edit-blog-title">Title</label>
        <input type="text" id="edit-blog-title" name="title">
        <br>
        <label for="edit-blog-content">Content</label>
        <textarea id="edit-blog-content" name="content"></textarea>
        <br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
