{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post" id="login-form">
            <label for="login-username">Username</label>
            <input type="text" id="login-username" name="username" required>
            
            <label for="login-password">Password</label>
            <input type="password" id="login-password" name="password" required>
            
            <button type="submit">Login</button>
            <label>don't have an account? <a href="/register">register</a></label>
        </form>
        {% if error %}
            <p><strong>Error</strong>: {{ error }}</p>
        {% else %}
            <p><strong>Debug</strong>: {{ error }}</p>
        {% endif %}
        <p>test: {{ test }}</p>
{% endblock %}
